<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
</head>
<body>
<div>
    <h1 th:text="${name}"></h1>

    <div id="contents"> asdasd asd {{name}}

        <button @click="getData">get data from server</button>

    </div>

</div>
<script type="text/babel">

    const HTTPRequest = {
        get: async (url) => {
            return await axios.get(url);
        },
        post: async (url, data) => {
            return await axios.post(url, data);
        }
    }

    var app = new Vue({
        el: '#contents',
        data: {
            name: "VUE JS",
            players: [
                {
                    id: "1",
                    name: "Lionel Messi",
                    description: "Argentina's superstar"
                },
                {
                    id: "2",
                    name: "Christiano Ronaldo",
                    description: "World #1-ranked player from Portugal"
                }
            ]
        },
        methods: {
            async getData() {
                const result = await HTTPRequest.get(`/get/`);
                this.name = result.data;
                console.log(this.name)
            }
        }
    });
</script>
</body>
</html>