<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>dashboard</title>
    <script type="text/javascript" th:src="@{'/js/vue/vue.global.js'}"></script>
    <script type="text/javascript" th:src="@{'/js/axios/axios.min.js'}"></script>
</head>
<body>
<div>
    <h1 th:text="${name}"></h1>

    <div id="contents"> Name is :  {{name}}

        <button @click="getData">get data from server</button>

        <table>
            <tr>
                <th>Name</th>
            </tr>
            <tr v-for="name in nameList">
                <td>{{name}}</td>
            </tr>
        </table>

    </div>

</div>
<script type="text/javascript">

    const HTTPRequest = {
        get: async (url) => {
            return await axios.get(url);
        },
        post: async (url, data) => {
            return await axios.post(url, data);
        }
    }

    const app = {
        data() {
            return {
                name: "VUE JS",
                nameList: [],
                players: [
                    {
                        id: "1",
                        name: "Lionel Messi",
                        description: "Argentina's superstar"
                    },
                    {
                        id: "2",
                        name: "Christiano Ronaldo",
                        description: "World #1-ranked player from Portugal"
                    }
                ]
            }
        },
        methods: {
            async getData() {
                const result = await HTTPRequest.get(`/get/`);
                this.nameList = this.nameList.concat(result.data)
            }
        }
    }
    Vue.createApp(app).mount('#contents')
</script>
</body>
</html>